dknode/defkon/dist
.directory
.gradle
gradle/
gradlew*
build/
.idea/
*.sw*
*.iml
*.log
mvnw*
.mvn/
**/target/
**/classes/
**/out/
**/node/node*
**/node/resources
**/script/node*
package-lock.json

models.json
lombok.config
.vagrant/
.certs/
.djl.ai/
debug/
